#crop_formset, #row_id_size_set {
	visibility:hidden;
	position:absolute;
	bottom:0px;
}


p {
	margin:10px 0 10px 0;
}

label {
	width: 100px;
	display: block;
	float: left;
}
#content-main input[type="text"]{
	width:300px;
}

#row_id_image label {
	height:30px;
}


#upload-footer #upload-button {
	margin-top:10px;
}