{% extends parent_template %}

{% load i18n %}

{% block extrahead %}
    {# CKEditor's OK handler reaches into this page as `contentWin.django.jQuery`. #}
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
    {{ block.super }}
    {{ dialog_media }}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block bodyclass %}{{ block.super }} cropduster-upload-form absolute-pos{% if standalone %} cropduster-standalone{% endif %}{% if debug %} cropduster-debug{% endif %}{% endblock %}

{% block content-class %}content-flexible{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="cropduster-app" data-config="{{ dialog_config_json }}"></div>
<noscript><p class="errornote">{% trans "JavaScript is required to crop images." %}</p></noscript>
{% endblock %}
