{% extends parent_template %}

<!-- LOADING -->
{% load i18n adminmedia %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}cropduster/css/CropDuster.css?v=1" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}cropduster/css/jquery.Jcrop.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}cropduster/css/upload.css?v=1" type="text/css" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}cropduster/js/json2.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}cropduster/js/jquery.class.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}cropduster/js/jquery.form.js?v=1"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}cropduster/js/jquery.Jcrop.js?v=2"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}cropduster/js/upload.js?v=1"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}cropduster/js/CropDuster.js?v=1"></script>
{% endblock %}

<!-- Get rid of nav -->
{% block nav-global %}{% endblock %}

{% block bodyclass %}{{ block.super }} cropduster-upload-form absolute-pos{% endblock %}

{% block content-class %}content-flexible{% endblock %}

{% block breadcrumbs %}{% endblock %}


<!-- CONTENT -->
{% block content %}
<h1 id="step-header">Upload, Crop, and Generate Thumbnails</h1>
<div id="content-main">
    <form id="upload" action="{{ request.path }}?upload_to={{ upload_to|urlencode }}" method="POST">
        <input type="hidden" id="image-element-id" name="image_element_id" value="{{ image_element_id }}" />
        <input type="hidden" id="upload-sizes" name="sizes" value="[]" />
        <fieldset class="module aligned">
            <div class="row">
                <input type="file" name="picture" id="picture" />
            </div>
        </fieldset>
    </form>

    <div id="error-container" style="display:none">
        <p class="errornote"></p>
    </div>

    <form action="{% url cropduster.views.crop %}" method="POST" id="crop-form">
        <div id="image-container">
            <img src="{{ image }}" id="cropbox" />
        </div>
        <div style="display:none">
            {{ crop_form.as_p }}
            <div class="cropduster-thumb-formset" id="{{ thumb_formset.prefix }}-group">
                {{ thumb_formset.management_form }}
                {% for thumb_form in thumb_formset %}
                <div class="cropduster-thumb-form" id="{{ thumb_formset.prefix }}-{{ forloop.counter0 }}">
                    <table>{{ thumb_form }}</table>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="module footer">
            <div id="current-thumb-info">
                <div id="current-thumb-index"></div>
                <div id="thumb-total-count"></div>
                <div id="current-thumb-label"></div>
            </div>
            <ul class="submit-row" id="upload-footer"{% if not image_id %} style="display: none"{% endif %}>
                <li class="submit-button-container">
                    <input id="upload-button" class="rounded-button disabled" type="submit" name="_save" value='Upload'  onclick="return uploadSubmit();"/>
                </li>
            </ul>
            <ul class="submit-row" id="crop-footer"{% if image_id %} style="display: none"{% endif %}>
                <li class="submit-button-container">
                    <input id="crop-button" class="rounded-button" type="submit" name="crop" value="Crop and Continue" />
                </li>
                <li class="submit-button-container">
                    <input id="reupload-button" class="rounded-button disabled" type="submit" name="_save" value='Re-Upload' onclick="return uploadSubmit();" />
                </li>
            </ul>
        </div>
    </form>

</div>
{% endblock %}