*.py[co]
.DS_Store
build
.vite
*.egg-info
.tox
ghostdriver.log
test/media
dist/
!cropduster/static/cropduster/dist/
!cropduster/static/cropduster/dist/**
.coverage
/reports/

# demo project
/.venv/
demo/db.sqlite3
demo/media/
demo/static/
