.cropduster-inline .cropduster-popup-button {
    display: block;
    background: url(../img/cropduster_icon_upload_select.png) no-repeat top left;
    width: 26px;
    height: 22px;
}
.cropduster-inline .cropduster-images {
    padding-left: 2px;
    padding-bottom: 5px;
    overflow: hidden;
}
.cropduster_thumbs {
	overflow: hidden;
    padding: 15px;
}
.cropduster-image span {
    background-repeat: none;
    background-position: 0 0;
    background-size: 100%;
}
.cropduster_thumbs img, .cropduster-image span {
	display: block;
	float: left;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}

.cropduster_thumbs img.original, .cropduster-image span.original {
    float:none;
    margin: 0;
}
.cropduster_thumbs img.original {
    max-width: 100%;
}
.cropduster_thumbs a.cropduster-image {
    float:left;
    display: block;
    width: auto;
    margin-top:10px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.cropduster_thumbs a.cropduster-image.cropduster-image-original {
    max-width:20%;
}
.cropduster_thumbs .cropduster-image-group {
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
}

.cropduster_thumbs h4 {
    border-bottom: 1px solid #D4D4D4;
    background: transparent;
}

.cropduster_thumbs h4 + .cropduster-images {
    border-top: 1px solid #eee;
}