

.cropduster-form .path,
.cropduster-form .crop_x,
.cropduster-form .crop_y,
.cropduster-form .crop_w,
.cropduster-form .crop_h,
.cropduster-form ._extension,
.cropduster-form .default_thumb,
.cropduster-form .thumbs,
.cropduster-form .DELETE {
  display: none;
}

.cropduster-form .inline-related .delete {
	padding-top: 7px;
	position: absolute;
	right: 10px;
	width: 53px;
}

.cropduster-form .inline-related .delete input {
    float: left;
    margin-right: 5px;
}
.cropduster-form .inline-related .delete label {
    margin-top: 0;
}

.cropduster-form.pre-delete fieldset div {
	background: #F2E6E6 !important;
}

.cropduster-form .help img.preview {
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
}

.cropduster-form .help img.preview.first {
	margin: 0 8px 8px 0;
}
.cropduster-customfield img{
	border: 0;
}

.cropduster-customfield .cropduster-upload-button {
	background: transparent url('../img/cropduster_icon_upload_select.png') no-repeat top left;
	width: 26px;
	height: 22px;
}