<style type="text/css">
.cropduster_thumbs img {
	display: block;
	float: left;
	margin-right: 10px;
}
</style>
<script type="text/javascript">
function cropduster_pop(id, image_id){


	href = '{{ cropduster_url }}?pop=1&size_set={{ size_set.id }}&image_element_id=' + id;
	if (django.jQuery("#cropduster_input_" + id + " input").val() != ''){
		image_id = django.jQuery("#cropduster_input_" + id + " input").val();
	}
	
	if (image_id){
		href += '&image_id=' + image_id;
	}

	var win=window.open(href, id, 'height=650, width=960, resizable=yes, scrollbars=yes'); 

	return false;
}

</script>


<p><a href="#" onclick="cropduster_pop('{{ attrs["id"] }}'{% if image %}, {{ image.id }}{% endif %})" class="cd_show"><img src="{{ media_url }}/img/cropduster_icon_upload_select.png" alt=""></a></p>

	<div class="cropduster_thumbs">
	{% if image %}
		{% for size in image.size_set.size_set.all() %}
		<img src="{{ image.thumbnail_url(size) }}" />
		{% endfor %}
	{% endif %}
	</div>
<div id="cropduster_input_{{ attrs["id"] }}">
{{ input|safe }}

</div>