{% extends "admin/base.html" %}

<!-- LOADING -->
{% load i18n adminmedia fb_tags fb_pagination cropdustermedia %}



<!-- JAVASCRIPTS -->
{% block javascripts %}
	{{ block.super }}
	<link rel="stylesheet" href="{% cropduster_media_prefix %}css/CropDuster.css" type="text/css" />
	<script language="javascript" type="text/javascript" src="{% cropduster_media_prefix %}js/jquery.Jcrop.js?v=2"></script>
	<script language="javascript" type="text/javascript" src="{% cropduster_media_prefix %}js/init.js"></script>
	<link rel="stylesheet" href="{% cropduster_media_prefix %}css/jquery.Jcrop.css" type="text/css" />
{% endblock %}

<!-- Get rid of nav -->
{% block nav-global %}{% endblock %}

{% block content-class %}content-flexible{% endblock %}

{% block breadcrumbs %}{% endblock %}


<!-- CONTENT -->
{% block content %}
<h1 id="step-header">Upload, Crop, and Generate Thumbnails</h1>
<div id="content-main">

	<form method="post" action="" enctype="multipart/form-data">
		<input type="hidden" name="size_set" value="{{ size_set }}" />
		<input type="hidden" name="aspect_ratio_id" value="{{ aspect_ratio_id }}" />
		
	
	{% if aspect_ratio_id == 0 %}
		{{ formset.management_form }}
		{% for form in formset %}
			<p id="row_{{ form.auto_id }}">
				<label for="{{ form.auto_id }}">{{ form.label }}</label>
				<span id="{{ form.auto_id }}" class="form_field">{{ form }}</span>
			</p>
		{% endfor %}
	{% endif %}
	
	
	{% if image %}
	<input type="hidden" name="image_id" value="{{ image.id }}" />
	<div id="cropbox">
	<img src="{{ image|safe }}" alt="" />
	</div>
	{% endif %}
	
	{% if crop_w %}
<script type="text/javascript">	
(function($){
	
	
	function updateCrop(c){
		$("#id_crop_x").val(c.x);
		$("#id_crop_y").val(c.y);
		$("#id_crop_w").val(c.w);
		$("#id_crop_h").val(c.h);
	}

	$(document).ready(function(){
		
		$("#cropbox img").Jcrop({
			"setSelect":   [ {{ crop_x }}, {{ crop_y }}, {{ crop_w }}, {{ crop_h }} ],
			"aspectRatio": {{ aspect_ratio }},
			"onChange": updateCrop
		});
    });
}(django.jQuery));
</script>
	{% endif %}
	

	<div id="crop_formset">
	{{ crop_formset.management_form }}
	{% for form in crop_formset %}
		<p>
			{{ form }}
		</p>
	{% endfor %}
   
	</div>
     
     
	<div id="error-container" style="display:none">
		<p class="errornote"></p>
	</div>
	<div class="module footer" id="upload-footer">
			<ul class="submit-row">
				<li class="submit-button-container">
					<input id="upload-button" class="default" type="submit" name="_save" value='Save' />
				</li>
			</ul>
		</div>
	</form>
	
</div>
{% endblock %}