/*
.cropduster-form .path,
.cropduster-form .crop_x,
.cropduster-form .crop_y,
.cropduster-form .crop_w,
.cropduster-form .crop_h,
.cropduster-form ._extension,
.cropduster-form .default_thumb,
.cropduster-form .thumbs,
.cropduster-form .DELETE {
  display: none;
}
*/
.cropduster-form .inline-related .delete {
    padding-top: 7px;
    position: absolute;
    right: 10px;
    width: 53px;
}

.cropduster-form .inline-related .delete input {
    float: left;
    margin-right: 5px;
}
.cropduster-form .inline-related .delete label {
    margin-top: 0;
}

.cropduster-form.pre-delete fieldset div {
    background: #F2E6E6 !important;
}

.cropduster-form .help img.preview {
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}

.cropduster-form .help img.preview.first {
    margin: 0 8px 8px 0;
}
.cropduster-customfield img{
    border: 0;
}

.cropduster-customfield .cropduster-upload-button {
    background: transparent url('../img/cropduster_icon_upload_select.png') no-repeat top left;
    width: 26px;
    height: 22px;
}


.cropduster-preview {
    _display: inline;
    display: inline-block;
}

/* buttons */
.cropduster-upload-form .rounded-button,
.cropduster-upload-form .rounded-button:visited,
.cropduster-upload-form .rounded-button:hover,
.cropduster-upload-form .rounded-button:active {
	margin: 0;
	display: inline-block; 
	padding: 6px 10px 7px 10px;
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-font-smoothing: subpixel-antialiased !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECECEC), to(#d1d1d1));
	background: -moz-linear-gradient(top, #ECECEC, #d1d1d1);
	background-color: #ECECEC;
	border: 1px solid #a3a3a3;
	border-bottom: 1px solid #9a9a9a;
	color: #000;
	-webkit-text-shadow: rgba(255,255,255,0.5) 0 -1px 0;
	-moz-text-shadow: rgba(255,255,255,0.5) 0 -1px 0;
	text-shadow: rgba(255,255,255,0.5) 0 -1px 0;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
}

.cropduster-upload-form .rounded-button:hover	   {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#d6d6d6));
	background: -moz-linear-gradient(top, #f4f4f4, #d6d6d6);
	background-color: #f4f4f4;
}
.cropduster-upload-form .rounded-button:active	   {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6d6d6), to(#f4f4f4));
	background: -moz-linear-gradient(top, #d6d6d6, #f4f4f4);
	background-color: #d6d6d6;
	border: 1px solid #9a9a9a;
	border-bottom: 1px solid #a3a3a3;
	padding: 7px 10px 6px 10px;
}

.cropduster-upload-form .rounded-button.disabled,
.cropduster-upload-form .rounded-button.disabled:hover,
.cropduster-upload-form .rounded-button.disabled:active {
	color: #888;
	cursor: default;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ECECEC), to(#d1d1d1));
	background: -moz-linear-gradient(top, #ECECEC, #d1d1d1);
	background-color: #ECECEC;
}

.cropduster-upload-form .rounded-button.red,
.cropduster-upload-form .rounded-button.red:visited,
.cropduster-upload-form .rounded-button.red:hover,
.cropduster-upload-form .rounded-button.red:active
{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b4463f), to(#731711));
	background: -moz-linear-gradient(top, #b4463f, #731711);
	background-color: #b4463f;
	border: 1px solid #832922;
	border-bottom: 1px solid #a43c34;
	color: #fff;
	-webkit-text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	-moz-text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	
}
.cropduster-upload-form .rounded-button.red:hover  {
	color: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c2554e), to(#993129));
	background: -moz-linear-gradient(top, #c2554e, #993129);
	background-color: #c2554e;
	border: 1px solid #ad4e47;
	border-bottom: 1px solid #a0322a;
}
.cropduster-upload-form .rounded-button.red:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#993129), to(#c2554e));
	background: -moz-linear-gradient(top, #993129, #c2554e);
	background-color: #993129;
	border: 1px solid #a0322a;
	border-bottom: 1px solid #ad4e47;
}


.cropduster-upload-form .rounded-button.small,
.cropduster-upload-form .rounded-button.small:visited,
.cropduster-upload-form .rounded-button.small:hover {
	padding: 3px 6px 4px 6px;
}

.cropduster-upload-form .rounded-button.small:active {
	padding: 4px 6px 3px 6px;
}

.cropduster-upload-form .rounded-button.green,
.cropduster-upload-form .rounded-button.green:active,
.cropduster-upload-form .rounded-button.green:hover,
.cropduster-upload-form .rounded-button.green:visited {
	color: #fff;
	border: 0;
	background: #3a4d00 url(../img/button-overlay.png) repeat-x 0 0;
}
.cropduster-upload-form .rounded-button.green:hover	{
	background-color: #749a02;
}

.cropduster-upload-form .rounded-button.blue,
.cropduster-upload-form .rounded-button.blue:active,
.cropduster-upload-form .rounded-button.blue:hover,
.cropduster-upload-form .rounded-button.blue:visited {
	color: #fff;
	border: 0;
	background: #162d3e url(../img/button-overlay.png) repeat-x 0 0;
}
.cropduster-upload-form .rounded-button.blue:hover	{
	background-color: #224660;
}

.cropduster-upload-form .rounded-button.magenta,
.cropduster-upload-form .rounded-button.magenta:active,
.cropduster-upload-form .rounded-button.magenta:hover,
.cropduster-upload-form .rounded-button.magenta:visited {
	color: #fff;
	border: 0;
	background: #a9014b url(../img/button-overlay.png) repeat-x 0 0;
}
.cropduster-upload-form .rounded-button.magenta:hover	{
	background-color: #630030;
}

.cropduster-upload-form .rounded-button.orange,
.cropduster-upload-form .rounded-button.orange:active,
.cropduster-upload-form .rounded-button.orange:hover,
.cropduster-upload-form .rounded-button.orange:visited {
	color: #fff;
	border: 0;
	background: #ff5c00 url(../img/button-overlay.png) repeat-x 0 0;
}
.cropduster-upload-form .rounded-button.orange:hover	{
	background-color: #d45500;
}

.cropduster-upload-form .rounded-button.yellow,
.cropduster-upload-form .rounded-button.yellow:active,
.cropduster-upload-form .rounded-button.yellow:hover,
.cropduster-upload-form .rounded-button.yellow:visited {
	color: #fff;
	border: 0;
	background: #ffb515 url(../img/button-overlay.png) repeat-x 0 0;
}
.cropduster-upload-form .rounded-button.yellow:hover	{
	background-color: #fc9200;
}

table.striped tfoot .rounded-button,
table.striped tfoot .rounded-button:active,
table.striped tfoot .rounded-button:hover,
table.striped tfoot .rounded-button:visited {
	padding: 4px 6px 5px;
}
table.striped tfoot .rounded-button:active {
	padding: 5px 6px 4px;
}
