body.cropduster-upload-form #crop-form {
    margin-top: 15px;
}

body.cropduster-upload-form ul.errorlist {
    color: #fff;
}

body.cropduster-upload-form .errornote > ul.errorlist > li {
    overflow: hidden;
    position: relative;
}

body.cropduster-upload-form .errornote .error-field {
    display: block;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
}

body.cropduster-upload-form .errornote .error-field:after {
    content: ":";
}
body.cropduster-upload-form .errornote .error-field.error-__all__ {
    display: none;
}
body.cropduster-upload-form .errornote .error-field.error-__all__ + ul.errorlist {
    padding-left: 0;
}

body.cropduster-upload-form ul.errorlist ul.errorlist {
    float: left;
    padding-left: 100px;
    margin: 0;
}

body.cropduster-upload-form .submit-button-container {
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    background: transparent !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

body.cropduster-upload-form .module.footer,
body.cropduster-upload-form .grp-module.grp-footer,
body.cropduster-upload-form .grp-module.grp-fixed-footer {
    border-top: 1px solid #111;
}

body.cropduster-upload-form #current-thumb-info {
    float:left;
    margin-left:5px;
    line-height:27px;
    position:relative;
}
body.cropduster-upload-form #current-thumb-info > div {
    position: absolute;
    top: 0;
    left: 0;
}
body.cropduster-upload-form #current-thumb-info > div#current-thumb-index {
    width:14px;
}
body.cropduster-upload-form #current-thumb-info > div#current-thumb-index {
    position:absolute;
    left:17px;
    width:14px;
}
body.cropduster-upload-form #current-thumb-info > div#current-thumb-index:after {
    content: "/";
    position: absolute;
    left: 17px;
    top: 0;
    width: 5px;
}
body.cropduster-upload-form #current-thumb-info > div#thumb-total-count {
    position: absolute;
    left: 44px;
    top: 0;
    width: 14px;
}
body.cropduster-upload-form #current-thumb-info > div#current-thumb-label {
    left: 70px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}