{% extends "admin/base.html" %}

<!-- LOADING -->
{% load i18n cropdustermedia %}

{% block extrahead %}
	{{ block.super }}
	<link rel="stylesheet" href="{% cropduster_media_prefix %}css/CropDuster.css?v=1" type="text/css" />
{% endblock %}

<!-- Get rid of nav -->
{% block nav-global %}{% endblock %}

{% block content-class %}content-flexible{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1 id="step-header">Upload, Crop, and Generate Thumbnails {% if m_height %}({{ m_width }} x {{ m_height }}){% endif %}</h1>
<div id="content-main">

	{% if errors %}
	<ul class="error-container errorlist">
		{% for error in errors %}
		<li>{{ error }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<form method="post" action="" enctype="multipart/form-data">
        <input name="next_stage" type="hidden" value="{{next_stage}}" />
        <input name="current_stage" type="hidden" value="{{current_stage}}" />
        {{ image_form.management_form }}
        {{ image_form.as_p }}
        <input type="hidden" name="size_set_id" value={{ size_set.id }} />
        <h3>Image Metadata</h3>
        {{ metadata_form.management_form }}
        {{ metadata_form.as_p }}

	<div class="module footer" id="upload-footer">
			<ul class="submit-row">
				<li class="submit-button-container">
					<input id="upload-button" class="default" type="submit" name="_save" value='Save' />
				</li>
			</ul>
		</div>
	</form>
	
</div>
{% endblock %}
